.content {
  padding: 16px 0;
  height: 100%;
  transition: transform 200ms ease;
  transform: translateX(56px);
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;

    @media(min-width: $lg) {
      display: none;
    }
  }

  @media(min-width: $lg) {
    transform: none;
    z-index: 5;
  }

  .is-sidebar-hidden & {
    transform: translateX(0);

    @media(min-width: $lg) {
      transform: none;
    }

    &:after {
      display: none;
    }
  }

  .is-mobile-menu-opened & {
    &:after {
      display: block;
    }
  }
}

.content__wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  transition: transform 200ms ease;

  .is-mobile-menu-opened & {
    transform: translateY(101px);

    @media(min-width: 375px) {
      transform: translateY(153px);
    }
  }
}

.content__slider {
  height: 100%;
  width: 100%;

  .slick-track {
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
  }

  .slick-list,
  .slick-track,
  .slick-slide {
    height: 100%;
  }

  .slick-slide {
    padding-left: 16px;
    padding-right: 16px;

    @media(min-width: $lg) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .slick-slide > div {
    height: 100%;
    position: relative;
    border-radius: 8px;

    .is-mobile & {
      overflow: hidden;
      transform: translateZ(0);
    }
  }
}
