.screen-login {
  @extend .share-screen;
}

.screen-login__error {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.24px;
  margin-top: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.screen-login__form {
  margin-bottom: 24px;
  padding-bottom: 51px;
  position: relative;

  label {
    display: block;
    width: 100%;
    text-align: center;
    color: $sea-green;
    margin-bottom: 12px;
  }

  input {
    border-radius: 12px;
    background-color: $sea-green;
    font-family: $font-bold;
    border: none;
    height: 64px;
    outline: none;
    text-align: center;
    padding: 0 18px;
    color: $white;
    max-width: 296px;
  }
}
