$share-button-bg: #5D635F;

.share-button {
  cursor: pointer;
  position: fixed;
  top: 38px;
  left: 28px;
  z-index: 20;
  transition: transform 200ms ease;
  background-color: $share-button-bg;
  border-radius: 100%;
  width: 56px;
  height: 56px;
}

.share-button__icon {
  width: 24px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -2px;
}
