.sidebar {
  width: 72px;
  transition: transform 200ms ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $green;
  z-index: 1;

  @media(min-width: $lg) {
    width: 112px;
    padding: 16px 0;
    min-height: 600px;
    background-color: transparent;
  }

  .is-sidebar-hidden & {
    transform: translateX(-72px);
  }
}

.sidebar__logo {
  @media(min-width: $lg) {
    margin-top: 18px;
  }
}

.sidebar__logo-image {
  display: block;
  margin: 0 auto;
  width: 49px;
}
