.button-hamburger {
  width: 72px;
  height: 46px;
  position: fixed;
  top: 5px;
  left: 0px;
  z-index: 100;
  transition: opacity 200ms ease;
  background-color: transparent;
  padding: 0;


  .is-hamburger-hidden & {
    opacity: 0;
    touch-action: none;
    pointer-events: none;
  }

  span {
    display: block;
    width: 50px;
    left: 50%;
    height: 4px;
    border-radius: 3px;
    background-color: $white;
    transition: all 200ms ease;
    position: absolute;
    margin-left: -25px;

    &:nth-child(1) {
      top: 11px;
    }
    &:nth-child(2) {

      top: 21px;
    }
    &:nth-child(3) {
      top: 31px;
    }

    .is-mobile-menu-opened & {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 27px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 27px;
      }
    }
  }
}
