/**
  Import fonts
 */
@import "generic/fonts";
/**
  Import vendor
 */
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "vendor/animate";
@import "vendor/slick";
@import "vendor/video-js";
/**
  Import generic
 */
@import "generic/variables";
@import "generic/helpers";

/**
  Custom reset goes below
 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body, #app {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: $green;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.24px;
  font-family: $font-book;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}

/**
  Prevent orientation change.
  Mobile: portrait
  Tablets and PC: landscape
 */
body {
  @media screen and (max-device-width: 767px) and (orientation: landscape) {
    &:after {
      content: 'Portrait Mode Only';
      color: $white;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      display: block;
      letter-spacing: -0.73px;
      font-size: 24px;
      line-height: 27px;
      z-index: 50;
      margin-bottom: 12px;
    }
  }
  @media screen and (min-device-width: 768px) and (orientation: portrait) {
    &:after {
      content: 'Landscape Mode Only';
      color: $white;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      display: block;
      letter-spacing: -1.19px;
      font-size: 30px;
      line-height: 33px;
      z-index: 50;
      margin-bottom: 30px;
    }
  }

  #app {
    @media screen and (max-device-width: 767px) and (orientation: landscape) {
      display: none !important;
    }
    @media screen and (min-device-width: 768px) and (orientation: portrait) {
      display: none !important;
    }

    &.is-mobile-on-pc {
      display: block !important;

      .is-placeholder-screen {
        display: none !important;
      }
    }
  }

  .is-placeholder-screen {
    display: block !important;
    position: relative;
    z-index: 60;
  }
}
